* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(145deg, #432371, #f5a36c);
    color: #ffffff;
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    padding: 40px 30px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

.timer {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background 0.2s ease-in-out;
}

.timer .time {
    font-size: 48px;
    font-weight: 700;
}

.timer .label {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #000;
}

.timer:hover {
    background: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 38px;
    }
    
    .countdown {
        flex-wrap: wrap;
    }
    
    .timer {
        flex-basis: 150px;
    }
}

